p {
   font-family: Helvetica;
  }
  
  h1 {
     font-family: Arial; color: blue;
  }
  
  h2{
    font-family: Georgia;
    color: red;
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  .publish-time {
    color: gray;
  }
  
  .capitalize {
    text-transform: capitalize;
  }
  
  .description h5 {
    color: teal;
  }